/*===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle { margin-bottom: var(--mb-2); }
.about__img { justify-self: center; }
.about__img img { width: 200px; border-radius: 0.5rem; }
.about__text { margin-bottom: 0.5rem; }
.highlight { color: var(--first-color); font-weight: var(--font-semi); }

@media screen and (min-width: 576px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
}
@media screen and (min-width: 768px) {
  .about__container { padding-top: 2rem; }
  .about__img img { width: 300px; }
}