/*===== SKILLS =====*/
.skills__container { row-gap: 2rem; text-align: center; }
.skills__subtitle { margin-bottom: var(--mb-2); }
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}
.skills__icon { font-size: 2rem; margin-right: var(--mb-2); color: var(--first-color); }
.skills__names { display: flex; align-items: center; }
.skills__bar {
  position: absolute;
  left: 0; bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}
.skills__html  { width: 95%; }
.skills__css   { width: 85%; }
.skills__js    { width: 65%; }
.skills__c     { width: 70%; }
.skills__php   { width: 80%; }
.skills__java  { width: 70%; }
.skills__RN    { width: 60%; }
.skills__ReactJS { width: 80%; }
.skills__Laravel { width: 80%; }
.skills__JavaFX  { width: 65%; }
.skills__MySQL   { width: 80%; }
.skills__Git     { width: 65%; }

.skills__left  { float: left;  width: 45%; margin-right: 5%; }
.skills__right { float: right; width: 45%; margin-left: 5%; }

@media screen and (max-width: 600px) {
  .skills__names { font-size: 12px; }
  .skills__percentage { font-size: 12px; }
  .skills__icon { font-size: 25px; }
  .skills__left, .skills__right { float: none; width: 100%; margin: 0; }
}
@media screen and (max-width: 440px) {
  .skills__names { font-size: 10px; }
  .skills__percentage { font-size: 10px; }
}
@media screen and (max-width: 340px) {
  .skills__names { font-size: 8px; }
  .skills__percentage { font-size: 8px; }
}